$mw: 1280;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

$body-bg: #f3f3f3;
$menu-bg: #E5E5E5;
$zootaxi-bg: #CDD7DC;

$fc: #243138;

// btn
$yellow1: #FEC71A;
$gray1: #CDD7DC;

$navb-h: 80;
$navb-mt-mw: 40;
$navb-mt-md4: 20;

// our works
$controls-h: 65;

// feedbacks
$feedbacks-border: #EBEBEB;

// get consult
$consult-bg: #DDDCD7;

// footer
$footer-bg: #ECECEC;

// popup
$popup-bg: #f8f8f8;
